secrets.yaml
*.db
*.db-shm
*.db-wal
*.log
.uuid
.cloud
tts
.homekit.state

ip_bans.yaml
known_devices.yaml
entity_registry.yaml
plex.conf
deps
.ios.conf
.storage

smartctl

# Managed by hass-deps (see hass-deps.yaml)
custom_components/*
www/community/*
