*.db
*.db-shm
*.db-wal
*.log
.cloud
.homekit.state
.ios.conf
.samsung_token
.spotify-token-cache
.storage
deps
entity_registry.yaml
known_devices.yaml
secrets.yaml
tts
ip_bans.yaml
image
frigate.yml
owntone/music
zigbee2mqtt

# Managed by hass-deps (see hass-deps.yaml)
custom_components/*
www/community/*
