- id: '1577766070397'
  alias: Washing Machine Completed
  description: ''
  trigger:
  - entity_id: binary_sensor.washing_machine
    from: 'on'
    platform: state
    to: 'off'
  condition: []
  action:
  - data:
      message: The washing machine has completed. Time to hang out the clothes.
      title: Washing Complete!
    service: notify.everyone
