- id: '1577766070397'
  alias: when washing machine completed, send notification
  description: ''
  trigger:
  - entity_id: binary_sensor.washing_machine
    from: 'on'
    platform: state
    to: 'off'
  condition: []
  action:
  - data:
      data:
        apns_headers:
          apns-collapse-id: washing-complete
        push:
          thread-id: washing-complete
      message: The washing machine has completed. Time to hang out the clothes.
      title: Washing Complete!
    service: notify.everyone
- id: '1584942961350'
  alias: when fiddle leaf moisture is low, send a notification
  description: ''
  trigger:
  - below: '20'
    entity_id: sensor.soil_moisture_level
    for: '3:00:00'
    platform: numeric_state
  condition: []
  action:
  - data:
      data:
        apns_headers:
          apns-collapse-id: fiddle-leaf-moisture-low
        push:
          thread-id: fiddle-leaf-moisture-low
      message: I'm running dry over here! Give me a drink
      title: Fiddle Leaf Fig
    service: notify.everyone
- id: '1584944183272'
  alias: when apartment door opens, and no one is home at night, turn on lights
  description: ''
  trigger:
  - device_id: e824e2b2a4ff4dea9b16fd7f6234dfc1
    domain: binary_sensor
    entity_id: binary_sensor.front_door
    platform: device
    type: opened
  condition:
  - after: sunset
    after_offset: '-60'
    condition: sun
  - condition: state
    entity_id: group.all_people
    state: not_home
  action:
  - device_id: 8c28feb17fb74368ac8b2a30f2a66355
    domain: switch
    entity_id: switch.living_room_lamp
    type: turn_on
  - brightness_pct: 30
    device_id: b8094b16b3454f8c8304d375cb9c4b09
    domain: light
    entity_id: light.entry_hall
    type: turn_on
- id: '1584944187934'
  alias: when presence detected, at night, turn on lights
  description: ''
  trigger:
    - entity_id: group.all_people
      from: not_home
      platform: state
      to: home
  condition:
    - after: sunset
      after_offset: '-60'
      condition: sun
  action:
    - device_id: 8c28feb17fb74368ac8b2a30f2a66355
      domain: switch
      entity_id: switch.living_room_lamp
      type: turn_on
    - brightness_pct: 30
      device_id: b8094b16b3454f8c8304d375cb9c4b09
      domain: light
      entity_id: light.entry_hall
      type: turn_on
- id: '1584944287383'
  alias: when everyone leaves, turn off lights
  description: ''
  trigger:
  - entity_id: group.all_people
    for: 00:05:00
    platform: state
    to: not_home
  condition: []
  action:
  - data: {}
    entity_id: all
    service: light.turn_off
- id: '1584944372303'
  alias: when everyone leaves, after 45 minutes, turn off TV
  description: ''
  trigger:
  - entity_id: group.all_people
    for: 00:45:00
    platform: state
    to: not_home
  condition: []
  action:
  - data: {}
    entity_id: media_player.samsung_smart_tv
    service: media_player.turn_off
- id: '1584944494369'
  alias: when apartment door opens, and nobody is home, send notification
  description: ''
  trigger:
  - device_id: e824e2b2a4ff4dea9b16fd7f6234dfc1
    domain: binary_sensor
    entity_id: binary_sensor.front_door
    platform: device
    type: opened
  - device_id: 9ae0e5e12ca74203a75203b1c9fbd57b
    domain: binary_sensor
    entity_id: binary_sensor.living_room_door
    platform: device
    type: opened
  condition:
  - condition: state
    entity_id: group.all_people
    state: not_home
  action:
  - data:
      data:
        apns_headers:
          apns-collapse-id: presence-door-opened
        push:
          thread-id: presence-door-opened
        tag: presence-door-opened
      message: A door was opened, but no one is home
      title: Door Opened
    service: notify.everyone
- id: '1584944760804'
  alias: when the sun sets and someone is home, turn on the living room lamp
  description: ''
  trigger:
  - event: sunset
    offset: '-30'
    platform: sun
  condition:
  - condition: state
    entity_id: group.all_people
    state: home
  action:
  - device_id: 8c28feb17fb74368ac8b2a30f2a66355
    domain: switch
    entity_id: switch.living_room_lamp
    type: turn_on
- id: '1584944904008'
  alias: when the TV turns on, after sunset, turn on the living room lamp
  description: ''
  trigger:
  - entity_id: media_player.samsung_smart_tv
    from: 'off'
    platform: state
    to: 'on'
  condition:
  - after: sunset
    after_offset: '-30'
    condition: sun
  action:
  - device_id: 8c28feb17fb74368ac8b2a30f2a66355
    domain: switch
    entity_id: switch.living_room_lamp
    type: turn_on
- id: '1584944974594'
  alias: when the TV turns on, turn on the LED strip
  description: ''
  trigger:
  - entity_id: media_player.samsung_smart_tv
    from: 'off'
    platform: state
    to: 'on'
  condition: []
  action:
  - data:
      rgb_color:
      - 255
      - 181
      - 108
    entity_id: light.living_room_led_strip
    service: light.turn_on
- id: '1584945101124'
  alias: when the TV turns off, turn off the LED strip
  description: ''
  trigger:
  - entity_id: media_player.samsung_smart_tv
    from: 'on'
    platform: state
    to: 'off'
  condition: []
  action:
  - device_id: c577e58c8aee45af9b1f7ebf1c0e091e
    domain: light
    entity_id: light.living_room_led_strip
    type: turn_off
- id: '1584954836148'
  alias: when Nick arrives home, clear door open notifications on Nicks iPhone
  description: Disabled since this is not yet possible for iOS companion app
  trigger:
  - entity_id: person.nick_whyte
    from: not_home
    platform: state
    to: home
  condition: []
  action:
  - data:
      data:
        apns_headers:
          apns-collapse-id: presence-door-opened
        push:
          thread-id: presence-door-opened
        tag: presence-door-opened
      message: clear_notification
    service: notify.mobile_app_nicks_iphone
- id: '1584956852148'
  alias: when the TV source changes from Spotify, reset the LED strip color
  description: ''
  trigger:
  - entity_id: sensor.samsung_smart_tv_source
    from: Spotify
    platform: state
  condition: []
  action:
  - data:
      rgb_color:
      - 255
      - 181
      - 108
    entity_id: light.living_room_led_strip
    service: light.turn_on
- id: '1585257052751'
  alias: when the living room door opens, and the fan is on auto, turn off the fan
  description: ''
  trigger:
  - device_id: 9ae0e5e12ca74203a75203b1c9fbd57b
    domain: binary_sensor
    entity_id: binary_sensor.living_room_door
    for:
      hours: 0
      minutes: 0
      seconds: 10
    platform: device
    type: opened
  condition:
  - condition: template
    value_template: '{{ state_attr("fan.lounge", "speed") == "AUTO" }}'
  action:
  - data:
      speed: 1
    entity_id: fan.lounge
    service: fan.set_speed
  - data: {}
    entity_id: fan.lounge
    service: fan.turn_off
- id: '1585257150059'
  alias: when the living room door closes, and the fan is on speed 1, turn the fan
    to auto
  description: ''
  trigger:
  - device_id: 9ae0e5e12ca74203a75203b1c9fbd57b
    domain: binary_sensor
    entity_id: binary_sensor.living_room_door
    for:
      hours: 0
      minutes: 0
      seconds: 10
    platform: device
    type: not_opened
  condition:
  - condition: template
    value_template: '{{ state_attr("fan.lounge", "speed") == 1 }}'
  action:
  - data:
      speed: AUTO
    entity_id: fan.lounge
    service: fan.set_speed
