[submodule "home-assistant/martin-pl/custom_components/.src/ha-samsungtv-tizen"]
	path = home-assistant/martin-pl/custom_components/.src/ha-samsungtv-tizen
	url = https://github.com/jaruba/ha-samsungtv-tizen.git
        ignore = dirty
[submodule "home-assistant/martin-pl/custom_components/.src/deebot-t8-hass"]
	path = home-assistant/martin-pl/custom_components/.src/deebot-t8-hass
	url = https://github.com/nickw444/deebot-t8-hass.git
[submodule "home-assistant/martin-pl/custom_components/.src/ha-dyson"]
	path = home-assistant/martin-pl/custom_components/.src/ha-dyson
	url = https://github.com/shenxn/ha-dyson.git
