[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
appdaemon-testing = "*"
flake8 = "*"
black = "*"

[packages]
broadlink-remote-gen = {editable = true,path = "./blindkit/broadlink-remote-gen"}
ruamel-yaml = "*"
click = "*"
appdaemon = "*"
colorthief = "*"
hass-deps = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
