*.db
*.db-shm
*.db-wal
*.log
*.log.1
*.log.fault
.cloud
.homekit.state
.ios.conf
.samsung_token
.spotify-token-cache
.storage
deps
entity_registry.yaml
known_devices.yaml
secrets.yaml
tts
ip_bans.yaml
image
frigate.yml
zigbee2mqtt

# Managed by hass-deps (see hass-deps.yaml)
www/community/*