esphome:
  name: bedroom2_wall
  platform: ESP8266
  board: esp8285

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password

# Enable logging
logger:

# Enable Home Assistant API
api:

ota:

binary_sensor:
  - platform: gpio
    pin:
      number: GPIO0
      mode: INPUT_PULLUP
      inverted: True
    id: button_1
    on_press:
      - light.toggle: olivers_downlights_bed
  - platform: gpio
    pin:
      number: GPIO9
      mode: INPUT_PULLUP
      inverted: True
    id: button_2
    on_press:
      - light.toggle: olivers_downlights_desk
  - platform: gpio
    pin:
      number: GPIO10
      mode: INPUT_PULLUP
      inverted: True
    id: button_3

output:
  - platform: gpio
    pin: GPIO12
    id: relay_1
  - platform: gpio
    pin: GPIO5
    id: relay_2
  - platform: gpio
    pin: GPIO4
    id: relay_3

light:
  - platform: binary
    id: olivers_downlights_bed
    name: "Olivers Downlights Bed"
    output: relay_1
  - platform: binary
    id: olivers_downlights_desk
    name: "Olivers Downlights Desk"
    output: relay_2